<html>
<head>
  <link rel="stylesheet" href="/static/css/index.css">
  <title>Realtime ToDo List</title>
</head>

<body>
  <section class="todoapp">
    <header class="header">
      <h1>Todos{% if username %} for {{ username }}{% endif %}</h1>
      <input class="new-todo" placeholder="What needs to be done?" autofocus="" onkeypress="addItem(event)">
    </header>

    <section class="main">
      <ul class="todo-list"></ul>
    </section>

    <footer class="footer">
    </footer>
  </section>
</body>
</html>
